body {
    background-color: aquamarine;
}

div {
    margin: 100px;
}

#division01 {
    background-color: red;
}

#division02 {
    background-color: blue;
}

#division03 {
    background-color: greenyellow;
}
#my-paragraph {
    color: white;
}

#my-paragraph02 {
    color: green;
}

img {
    width: 400px;
    padding: 20px;
}

#image01 {
    width: 300px;
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
}

#image02 {
    width: 600px;
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
}

#image03 {
    width: 500px;
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
}

h1 {
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
}

p {
    /* padding-left: 40px;
    padding-bottom: 40px;
}