body {
    padding: 20px;
    background-color: black
 }
 
 .box {
    width: 100px;
    height: 100px;
    border: 15px solid pink;
    margin: 10px;
 }
 
 .rgb {
     box-sizing: content-box;
 }
 
 .hsl {
    background-color: hsl(219, 74%, 43%);
 }
 
 .hex {
     background-color: #1cb7bf
 }
 
 .rgba {
     background-color: rgba(255, 9, 0 ,0.5);
 }
 
 .post {
    border: 10px solid green;
    padding-bottom: 30px;
    margin: 10px;
 }

h1 {
    color: greenyellow;
}

h2 {
    color: aquamarine;
}