body {
    background-color: greenyellow;
    color: white;
    font-family: 'Sofia';font-size: 22px;
}

h1 {
    color: white;
    font-family: 'Aclonica';font-size: 22px;
}

h2 {
    color: white;
    font-family: 'Bangers';font-size: 22px;
}

p {
   color: white;
}

li {
    color: white;
}

img {
    width: 250px;
}

a {
    color: red;
}
